<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<div class="header">
    <!-- Start of Top green part of header -->
    <div class="top">
        <div class="topContent">

            <div class="contact">
                <i class="fa fa-phone"></i>
                <span>+9847573836</span>
            </div>
            <div class="shopNow">
                <span>Get 50% off on selected items</span> | <a href="#">Shop Now</a>
            </div>
            <div class="chevron">
                <div class="lang">
                    <span>Eng</span>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="location">
                    <span>Location</span>
                    <i class="fa fa-chevron-down"></i>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Top green part of header -->

    <!-- Start of header/Menu-->
    <div class="down">
        <div class="downSub">

            <div class="logo">
                <i class="fa-solid fa-shop"></i>
                <span>ShopCart</span>
            </div>
            <div class="select">
                <span>Categories</span>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div class="headOpr">
                <span><a href="#">Deals</a></span>
                <span><a href="#">What's New</a></span>
                <span><a href="#">Delivery</a></span>
            </div>
            <div class="serchbox">
                <input type="text" placeholder="Search Product"> |
                <button type="button"><i class="fa fa-magnifying-glass"></i></button>
            </div>
            <div class="headMain">
                <div class="acc">
                    <i class="fa fa-user"></i>
                    <span>Account</span>
                </div>
                <div class="cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Cart</span>
                </div>
            </div>

        </div>

    </div>
    <!-- End of header/Menu-->
</div>