<!-- <table class="table table-striped" style="width: 90%; margin: auto;">
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">img</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index;">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <ng-container *ngIf="isImage(user?.imageUrl); else otherFile">
                <img [src]="user?.imageUrl" style="height: 100px; width: 200px;" alt="User File">
              </ng-container>
              <ng-template #otherFile>
                <ng-container *ngIf="isVideo(user?.imageUrl); else pdfFile">
                  <video [src]="user?.imageUrl" style="height: 100px; width: 200px;" muted autoplay controls></video>
                </ng-container>
                <ng-template #pdfFile>
                  <a [href]="user?.imageUrl" target="_blank">View PDF</a>
                </ng-template>
              </ng-template>
            </td>
            <td>{{ user?.username |titlecase }}</td>
            <td>{{ user?.email |titlecase}}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteIndex(user?.id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-primary" (click)="editUser(user?.id)">
                <i class="fa fa-pen-to-square"></i>
              </button>
            </td>
            <td style="display: none;">
              <button type="button" class="btn btn-primary" (click)="dispayData(user?.id)">
                <i class="fa fa-bandage"></i>
              </button>
            </td>
          </tr>
          
    </tbody>
</table>
<div class="sign-up-form" *ngIf="showForm">

    <form [formGroup]="updateForm">
        <div class="formGroup">
            <label for="userName">UserName</label>
            <input class="form-control" formControlName="username" type="text">
        </div>
        <div class="formGroup">
            <label for="userName">Email</label>
            <input class="form-control" formControlName="email" type="email">
        </div>
        <button *ngIf="showEdit" style="width: 100%; margin-top: 10px;" class="btn btn-primary" type="submit"
            (click)="updateData(updateForm.value)">Update</button>
        <button *ngIf="showPatch" style="width: 100%; margin-top: 10px;" class="btn btn-primary" type="submit"
            (click)="patchUser(updateForm.value)">Patch</button>
    </form>
</div> -->
<div class="search"><p>Search:</p><input
  type="text"
  placeholder="Search"
  [(ngModel)]="search"
  (input)="onSearchChange()"
/>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Index Column -->
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> S.No </th>
    <td mat-cell *matCellDef="let user; let i = index"> {{ i + 1 }} </td>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> UserName </th>
    <td mat-cell *matCellDef="let user"> {{ user?.name }} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{ user?.email }} </td>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let user"> {{ user?.age }} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let user">
      <button class="btn btn-danger mx-1" (click)="deleteIndex(user?._id)">
        <i class="fa fa-trash"></i>
      </button>
      <button class="btn btn-primary mx-1" (click)="editUser(user?._id)">
        <i class="fa fa-pen-to-square"></i>
      </button>
    </td>
  </ng-container>

  <!-- Row Declarations -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
